name: Run pre-commit Hooks

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Setup NPM Packages
      uses: ./.github/actions/setup-npm

    - name: Run Pre-commit Hooks on CI
      run: |
        chmod +x .bin/prettier.sh
        pre-commit run --config=.pre-commit-config.yaml --color=always --show-diff-on-failure --all-files
